<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.infocore.mapper.ClientMapper">
    <resultMap id="clientMap" type="cn.infocore.entity.Client" >
        <id column="id" property="id"  />
        <result column="vcenter_id" property="vcenterId" />
        <result column="user_id" property="userId"  />
        <result column="data_ark_id" property="dataArkId"  />
    	<result column="is_dr" property="isDr"  />
    	<result column="type" property="type"  />
    	<result column="name" property="name"  />
    	<result column="ips" property="ips"  />
    	<result column="vcenter_user_id" property="vCenterUserId"  />
    	<result column="vcenter_user_password" property="vCenterPassword"  />
    	<result column="exceptions" property="exceptions"  />
    </resultMap>
    
    <update id="updateClientByUuid">
		update client set name=#{name},
		<if test="ips != null and ips.length>0">
		ips=#{ips},
		</if>
		exceptions=#{exception},operating_system=#{operatingSystem} where uuid=#{uuid}
	</update>
	
	<update id="updateVCenterByUuid">
		update client set name=#{name},
		<if test="ips != null and ips.length>0">
		ips=#{ips},
		</if>
		exceptions=#{exception} where uuid=#{uuid}
	</update>
	
</mapper>
